@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #C0D2CC;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #004155;
    margin: 0px;
    overflow-x: hidden
}

button {
    background-color: #004155;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    color: white;
    outline: none;
    margin: 0.5rem;
    font-family: 'Lato', sans-serif;
}

p > a {
    color:#EDE937;
    padding: 1px;
}

p > a:hover {
    background-color: #004155;
}

p > a:active {
    background-color: #EDE937;
}

nav {
    color: white;
    font-size: 1.3rem;
    position: sticky;
    z-index: 5;
    top: 0;
}

ul {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul .wow {
    background-color: #004155;
}

li {
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover,
nav li:hover {
    background-color: #004155;
    border: none;
}

nav a:active,
nav li:active,
button:active, button:hover {
    background-color: #EDE937;
    color: #004155;
    border: none;
}

#logo {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;
}

#title {
    position: absolute;
    top: 35%;
    left: 3%;
    padding: 1rem;
    width: 35%;
}

a {
    text-decoration: none;
    font-weight:100;
}

/*Text Decoration*/

h1 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-transform: capitalize;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
}

/*Images*/

.gallery > img {
    height: 20vw;
    width: 20vw;
    border: 1px solid black;
}

/*Slides with challenges*/

#all_slides {}

.slide {
    border: 3px white solid;
    height: 400px;
    width: 600px;
    border-radius: 1rem;
    position: absolute;
    margin: 1rem;
    padding: 1rem;
}

.position1 {
    z-index: 1;
    left: 40%;
    top: 24%;
}

.position2 {
    z-index: 2;
    left: 42%;
    top: 26%
}

.position3 {
    z-index: 3;
    left: 44%;
    top: 28%;
}

.position4 {
    z-index: 4;
    left: 46%;
    top: 30%
}

.position5 {
    z-index: 5;
    left: 48%;
    top: 32%;
}

#one {
    background-color: #B7CAD4;
}

#two {
    background-color: #8F8582;
}

#three {
    background-color: #3C6359;
}

#four {
    background-image: image();
}

#five {
    background-image: image();
}

/*Grid on index page*/

.content {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 40vw 40vw;
    grid-template-areas:
        "article article"
        "pic1 desc1"
        "desc2 pic2"
        "gallery gallery"
        "footer footer";
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: center;
}

header {
    border: 1px solid grey;
    background-color: grey;
    position: inherit;
    height: 400px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

article {
    grid-area: article;
}

.picture1 {
    grid-area: pic1;
    border: 1px solid green;
}

.description1 {
    grid-area: desc1;
    text-align:center;
}

.picture2 {
    grid-area: pic2;
    border: 1px solid pink;
}

.description2 {
    grid-area: desc2;
}

.gallery {
    grid-area: gallery;
}

footer {
    grid-area: footer;
    margin-bottom: 0.5rem;
}
