@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #004155;
    margin: 0px;
    overflow-x: hidden
}

button {
    background-color: #004155;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    color: white;
    outline: none;
    margin: 0.5rem;
    font-family: 'Lato', sans-serif;
}

button > a {
    color: white;
}

p > a {
    color: #EDE937;
    padding: 1px;
}

p > a:hover {
    background-color: #004155;
}

p > a:active {
    background-color: #EDE937;
}

nav {
    color: #004155;
    font-size: 1.3rem;
    position: relative;
    z-index: 5;
    top: 0;
}

ul {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul .wow {
    background-color: #004155;
}

li {
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover,
nav li:hover {
    background-color: #004155;
    border: none;
}

nav a:active,
nav li:active,
button:active,
button:hover {
    background-color: #EDE937;
    color: #004155;
    border: none;
}

.logo {
    background: url(img/DN-logo_hvid_skrift_CMYK_small.png);
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

#title {
    position: absolute;
    top: 35%;
    left: 3%;
    padding: 1rem;
    width: 35%;
}

a {
    text-decoration: none;
    font-weight: 100;
}

/*Text Decoration*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
}

/*Images*/

.gallery > img {
    height: 20vw;
    width: 20vw;
}

.gallery > img:hover {
    filter: brightness(110%);
}

/*Slides with challenges*/

#all_slides {}

.slide {
    border: 3px white solid;
    height: 400px;
    width: 600px;
    border-radius: 1rem;
    position: absolute;
    margin: 1rem;
    padding: 1rem;
}

.slide:hover {
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

.slide:hover {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.position1 {
    left: 37%;
    top: 23%;
}

.position2 {
    left: 40%;
    top: 26%
}

.position3 {
    left: 43%;
    top: 29%;
}

.position4 {
    left: 46%;
    top: 32%
}

.position5 {
    left: 49%;
    top: 35%;
}

#one {
    background-image: url(img/article.png);
    background-size: cover;
}

#two {
    background-image: url(img/image-from-rawpixel-id-935105-original.png);
    background-size: cover;
}

#three {
    background-image: url(img/mobilepay-take-your-business-to-the-next-level-with-mobile-payments.png);
    background-size: cover;
}

#four {
    background-image: url(img/image-from-rawpixel-id-511741-jpeg@2x.png);
    background-size: cover;
}

#five {
    background-image: url(img/image-from-rawpixel-id-559968-jpeg@2x.png);
    background-size: cover;
}

/*Grid on index page*/

.content {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 40vw 40vw;
    grid-template-areas:
        "article article"
        "pic1 desc1"
        "desc2 pic2"
        "gallery gallery"
        "footer footer";
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: center;
}

.header {
    background-image: url("img/woman.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

article {
    grid-area: article;
}

.picture1 {
    grid-area: pic1;
    background-image: url(img/people1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
}

.description1 {
    grid-area: desc1;
    text-align: center;
}

.picture2 {
    grid-area: pic2;
    background-image: url(img/people2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
}

.description2 {
    grid-area: desc2;
}

.gallery {
    grid-area: gallery;
}

footer {
    grid-area: footer;
    margin-bottom: 0.5rem;
}

/*Animations*/

/* ----------------------------------------------
 * Generated by Animista on 2020-10-13 11:2:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


/*VIDEO*/

video {
    height: 100vh;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
}


.video-text-container {
    margin-top: 5vw;
}

.play {
    width: 8vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 7vw;
}

.play:hover {

    width: 14vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 5vw;
}

/*CURVES*/

.curve-left {
    width: 40vw;
    height: 191vh;
    background-image: url(svg/shape%201.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    z-index: -1;


}

.curve-right {
    width: 30vw;
    height: 191vh;
    background-image: url(svg/shape%202.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0px;
    z-index: -1;
}


.header-2 {
    background-image: url("img/people2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.curve-left1 {
    width: 40vw;
    height: 191vh;
    background-image: url(svg/shape%201.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    z-index: -1;
    top: 0;


}

.curve-right1 {
    width: 30vw;
    height: 191vh;
    background-image: url(svg/shape%202.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0px;
    z-index: -1;
    top: 0;
}
